source https://www.nuget.org/api/v2

nuget NETStandard.Library.NETFramework
nuget FSharp.Core
nuget Microsoft.Office.Interop.Excel
nuget MicrosoftOfficeCore

group Build
source https://www.nuget.org/api/v2

nuget Fake.IO.FileSystem
nuget Fake.DotNet
nuget Fake.DotNet.MSBuild
nuget Fake.Core.Target